/* *{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
} */

.header {
    border: 3px solid green;
}

h1 {
    color:orangered
}

h2 {
    color: orange
}

p {
    color: #fff
}

p {
    word-wrap: break-word;
}

h1 {
    text-align: center;
}

h1 {
    text-shadow: #FC0 1px 0 10px;
}



